*-giignore.*
*.nav
*.snm
*.toc
*.bbl
*.blg
*.vrb
*.aux
*.out
*.lof
*.soc
*.tdo
*.loc
*.spl
.directory
*.synctex.gz
*.kile
.~lock.*.*#
*.pdf
*.pyc
*.csv
.DS_Store
*.kilepr
*.swp
*.png
*.pickle
*.zip
.Rhistory
/venv/
